/* CSS declarations go here */

*, *:before, *:after {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    margin: 0;
    background-color: white;
    position: relative;
    color: black;
    font-family: 'Helvetica Neue', 'Arial', sans-serif;
}

/* Layout ................................................................... */

.l-menu {
    position: absolute;
    top: 20px;
    right: 20px;
}

.l-code {
    position: relative;
}

.is-hidden {
    display: none;
}

/* Code ..................................................................... */

code {
    display: block;
    padding: 0 20px;
    line-height: 20px;
    font-family: Menlo;
    font-size: 13px;
}

code:nth-child(odd) {
    background-color: #F7F7F7;
}

code.emptyLine {
    background-color: white;
}

.comment code {
    color: #5d92fe;
    background-color: aliceblue !important;
}

code.indent-1 {
    text-indent: 8px;
}

code.indent-2 {
    text-indent: 16px;
}

code.indent-3 {
    text-indent: 24px;
}

code.indent-4 {
    text-indent: 32px;
}

code.is-highlighted {
    background-color: #FFFF99;
}

code.is-highlighted--dep {
    background-color: rgba(255, 255, 153, 0.33);
}

.comment.is-highlighted {
    background-color: rgba(255, 255, 147, 0.33);
}

code > input[type=range] {
    margin-left: 10px;
    vertical-align: text-top;
}

code > span.output {
    color: #EC5E5D;
    vertical-align: middle;
    /* float: right; */
}

svg.calls {
    padding: 0 10px;
    box-shadow: inset 0 0 5px 0px rgba(0,0,0,0.3);
    position: absolute;
    top: 0;
    left: 600px;
}

svg.calls circle {
    fill: #30475C;
}

span.calls-label {
    position: absolute;
    bottom: -12px;
    left: 600px;
    font-size: 10px;
}

/**/

body {
    /*font: 10px sans-serif;*/
    shape-rendering: crispEdges;
}

.day {
    fill: #fff;
    stroke: #ccc;
}

.month {
    fill: none;
    stroke: #000;
    stroke-width: 2px;
}

.RdYlGn .q0-11{fill:rgb(165,0,38)}
.RdYlGn .q1-11{fill:rgb(215,48,39)}
.RdYlGn .q2-11{fill:rgb(244,109,67)}
.RdYlGn .q3-11{fill:rgb(253,174,97)}
.RdYlGn .q4-11{fill:rgb(254,224,139)}
.RdYlGn .q5-11{fill:rgb(255,255,191)}
.RdYlGn .q6-11{fill:rgb(217,239,139)}
.RdYlGn .q7-11{fill:rgb(166,217,106)}
.RdYlGn .q8-11{fill:rgb(102,189,99)}
.RdYlGn .q9-11{fill:rgb(26,152,80)}
.RdYlGn .q10-11{fill:rgb(0,104,55)}