<template name="elifeCode">
    <div class="l-menu">
        <div><label for="showState"><input type="checkbox" name="showState" id="showState"> enhance</label></div>
        <div class="focusChangeWrapper"><label for="focusChange"><input type="checkbox" name="focusChange" id="focusChange"> focus</label></div>
    </div>

    <!-- Plan -->
    <div class="code">
        <code>var plan = ["#####",</code>
        <code style="text-indent: 94px">"#o&nbsp;&nbsp;#",</code>
        <code style="text-indent: 94px">"#&nbsp;&nbsp;##",</code>
        <code style="text-indent: 94px">"#&nbsp;&nbsp;o#",</code>
        <code style="text-indent: 94px">"#####"];</code>
    </div>

    <code class="emptyLine">&nbsp;</code>

    <!-- Vector -->
    <div class="comment">
        <code>/**</code>
        <code class="indent-1">* @param {Number} x <input id="vectorX" type="range" min="0" max="4" value="0"> {{vectorX}}</code>
        <code class="indent-1">* @param {Number} y <input id="vectorY" type="range" min="0" max="4" value="0"> {{vectorY}}</code>
        <code class="indent-1">*/</code>
    </div>
    <div class="code">
        <code>function Vector(x, y) {</code>
            <code class="indent-1 vectorX vectorOtherXDep vectorOtherYDep">this.x = x; <span class="output">= {{vectorX}}</span></code>
            <code class="indent-1 vectorY vectorOtherXDep vectorOtherYDep">this.y = y; <span class="output">= {{vectorY}}</span></code>
        <code>}</code>
    </div>

    <!-- Vector.plus -->
    <div class="comment">
        <code>/**</code>
        <code class="indent-1">* @param {Object} other</code>
        <code class="indent-1">* @param {Number} other.x <input id="vectorOtherX" type="range" min="0" max="4" value="0"> {{vectorOtherX}}</code>
        <code class="indent-1">* @param {Number} other.y <input id="vectorOtherY" type="range" min="0" max="4" value="0"> {{vectorOtherY}}</code>
        <code class="indent-1">*/</code>
    </div>
    <div class="code">
        <code>Vector.prototype.plus = function(other) {</code>
            <code class="indent-1 vectorX vectorY vectorOtherX vectorOtherY">return new Vector(this.x + other.x, this.y + other.y); <span class="output">=&gt; {{vectorReturn}}</span></code>
        <code>};</code>
    </div>

    <code class="emptyLine">&nbsp;</code>

    <!-- Grid -->
    <div class="comment">
        <code>/**</code>
        <code class="indent-1">* @param {Number} width <input id="gridW" type="range" min="1" max="5" value="5"> {{gridW}}</code>
        <code class="indent-1">* @param {Number} height <input id="gridH" type="range" min="1" max="5" value="5"> {{gridH}}</code>
        <code class="indent-1">*/</code>
    </div>
    <div class="code">
        <code>function Grid(width, height) {</code>
            <code class="indent-1 gridW gridH gridGetVectorXDep gridGetVectorYDep gridSetVectorXDep gridSetVectorYDep">this.space = new Array(width * height); <span class="output">= {{gridSpace}}</span></code>
            <code class="indent-1 gridW gridInsideVectorXDep gridInsideVectorYDep">this.width = width; <span class="output">= {{gridW}}</span></code>
            <code class="indent-1 gridH gridInsideVectorXDep gridInsideVectorYDep">this.height = height; <span class="output">= {{gridH}}</span></code>
        <code>}</code>
    </div>

    <!-- Grid.isInside -->
    <div class="comment">
        <code>/**</code>
        <code class="indent-1">* @param {Object} vector</code>
        <code class="indent-1">* @param {Number} vector.x <input id="gridInsideVectorX" type="range" min="0" max="4" value="0"> {{gridInsideVectorX}}</code>
        <code class="indent-1">* @param {Number} vector.y <input id="gridInsideVectorY" type="range" min="0" max="4" value="0"> {{gridInsideVectorY}}</code>
        <code class="indent-1">*/</code>
    </div>
    <div class="code">
        <code>Grid.prototype.isInside = function(vector) {</code>
            <code class="indent-1 gridW gridH gridInsideVectorX gridInsideVectorY">return vector.x &gt;= 0 && vector.x &lt; this.width && vector.y &gt;= 0 && vector.y &lt; this.height; <span class="output">{{gridInsideCondition}} =&gt; {{gridInsideReturn}}</span></code>
        <code>};</code>
    </div>

    <!-- Grid.get -->
    <div class="comment">
        <code>/**</code>
        <code class="indent-1">* @param {Object} vector</code>
        <code class="indent-1">* @param {Number} vector.x <input id="gridGetVectorX" type="range" min="0" max="4" value="0"> {{gridGetVectorX}}</code>
        <code class="indent-1">* @param {Number} vector.y <input id="gridGetVectorY" type="range" min="0" max="4" value="0"> {{gridGetVectorY}}</code>
        <code class="indent-1">*/</code>
    </div>
    <div class="code">
        <code>Grid.prototype.get = function(vector) {</code>
            <code class="indent-1 gridWDep gridHDep gridGetVectorX gridGetVectorY">return this.space[vector.x + this.width * vector.y]; <span class="output">=&gt; {{gridGetReturn}}</span></code>
        <code>};</code>
    </div>

    <!-- Grid.set -->
    <div class="comment">
        <code>/**</code>
        <code class="indent-1">* @param {Object} vector</code>
        <code class="indent-1">* @param {Number} vector.x <input id="gridSetVectorX" type="range" min="0" max="4" value="0"> {{gridSetVectorX}}</code>
        <code class="indent-1">* @param {Number} vector.y <input id="gridSetVectorY" type="range" min="0" max="4" value="0"> {{gridSetVectorY}}</code>
        <code class="indent-1">* @param {String} value <select id="gridSetValue"><option value="#">#</option><option value="o">o</option><option value="space">space</option></select></code>
        <code class="indent-1">*/</code>
    </div>
    <div class="code">
        <code>Grid.prototype.set = function(vector, value) {</code>
            <code class="indent-1 gridWDep gridHDep gridSetVectorX gridSetVectorY gridSetValue">this.space[vector.x + this.width * vector.y] = value; <span class="output">[{{gridSetValueSpace}}] &lt;= {{gridSetValue}}</span></code>
        <code>};</code>
    </div>

    <code class="emptyLine">&nbsp;</code>

    <!-- World -->

    <div class="code">
        <code>function World(map, legend) {</code>
            <code class="indent-1">var grid = new Grid(map[0].length, map.length);</code>
            <code class="indent-1">this.grid = grid;</code>
            <code class="indent-1">this.legend = legend;</code>
            <code class="indent-1">map.forEach(function(line, y) {</code>
                <code class="indent-2">for (var x = 0; x &lt; line.length; x++) {</code>
                    <code class="indent-3">grid.set(new Vector(x, y), elementFromChar(legend, line[x]));</code>
                <code class="indent-2">}</code>
            <code class="indent-1">});</code>
        <code>}</code>
    </div>

    <code class="emptyLine">&nbsp;</code>

    <!-- World.toString -->

    <div class="code">
        <code>World.prototype.toString = function() {</code>
            <code class="indent-1">var output = "";</code>
            <code class="indent-1">for (var y = 0; y &lt; this.grid.height; y++) {</code>
                <code class="indent-2">for (var x = 0; x &lt; this.grid.width; x++) {</code>
                    <code class="indent-3">var element = this.grid.get(new Vector(x, y));</code>
                    <code class="indent-3">output += charFromElement(element);</code>
                <code class="indent-2">}</code>
                <code class="indent-2">output += "\n";</code>
            <code class="indent-1">}</code>
            <code class="indent-1">return output;</code>
        <code>};</code>
    </div>

    <code class="emptyLine">&nbsp;</code>

    <!-- charFromElement -->

    <div class="code">
        <code>function charFromElement(element) {</code>
            <code class="indent-1">if (element == null) {</code>
                <code class="indent-2">return " ";</code>
            <code class="indent-1">} else {</code>
                <code class="indent-2">return element.originChar;</code>
            <code class="indent-1">}</code>
        <code>}</code>
    </div>

    <code class="emptyLine">&nbsp;</code>

    <!-- elementFromChar -->

    <div class="code">
        <code>function elementFromChar(legend, ch) {</code>
            <code class="indent-1">if (ch == " ") {</code>
                <code class="indent-2">return null;</code>
            <code class="indent-1">}</code>
            <code class="indent-1">var element = new legend[ch]();</code>
            <code class="indent-1">element.originChar = ch;</code>
            <code class="indent-1">return element;</code>
        <code>}</code>
    </div>

    <code class="emptyLine">&nbsp;</code>

    <!-- Wall -->
    <div class="code">
        <code>function Wall() {}</code>
    </div>

    <code class="emptyLine">&nbsp;</code>

    <!-- new World -->
    <div class="code">
        <code>var world = new World(plan, {"#": Wall, "o": BouncingCritter});</code>
    </div>

    <code class="emptyLine">&nbsp;</code>
</template>